/* NAV*/





/* NAV*/

/* CARRUSEL*/
.carousel-caption h1 {
    color: #FFDE59;
}

.carousel-caption p {
    color: white;
}
/* CARRUSEL*/

/* FUNCIONALIDAD*/



/* FUNCIONALIDAD*/

/* PLANES*/






/* PLANES*/


/* Descarga*/
.color-HH{
    color: #0597A6;
}

.color-HH1{
    color: #63CAA7;
}

/* Descarga*/

/* Conoce más*/
.ConoceMas{
    background-color: #0597A6;
    color: white;
}

.color-HH-alternative{
    color: #39F563;
}

.title-ConoceMas{
    padding: 25px;
}
/* Conoce más*/

/*Contactenos*/



/*Contactenos*/

/*Footer*/



/*Footer*/